@model CasusStartToBike.Models.Follower

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijder</h2>

<h3>Ben je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Follower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Terug", "Index")
        </div>
    }
</div>
