<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Start to Bike</title>
    @Styles.Render("~/Contents/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <Header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand col-md-3 col-lg-2 bg-dark text-white px-3" href="#">Gotcha</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Hoofdpagina", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Over", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    @if (Session["UserID"] == null) {}
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Evenementen", "Index", "CycleEvents", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Routes", "Index", "CycleRoutes", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Badges", "Index", "Badges", null, new { @class = "nav-link" })</li>
                        @*<li class="nav-item">@Html.ActionLink("Reviews", "Index", "Reviews", null, new { @class = "nav-link" })</li>*@
                        <li class="nav-item">@Html.ActionLink("Gebruikers", "Index", "Users", null, new { @class = "nav-link" })</li>
                        @*<li class="nav-item">@Html.ActionLink("Account", "Index", "Accounts", null, new { @class = "nav-link" })</li>*@
                        @*<li class="nav-item">@Html.ActionLink("Volgers", "Index", "Followers", null, new { @class = "nav-link" })</li>*@
                    }
                </ul>
                
                @if (Session["UserID"] == null)
                    {
                        <div class="nav-item">
                            <div class="text-end">
                                @Html.ActionLink("Login", "Login", "Access", null, new { @class = "btn btn-outline-light me-2" })
                                @Html.ActionLink("Registreren", "Register", "Access", null, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle">

                                </i>
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="Account">
                                <li>
                                    @Html.ActionLink("Logout", "Logout", "Access", null, new { @class = "dropdown-item" })
                                </li>
                                <li>
                                    @Html.ActionLink("Profiel", "Profile", "Users", new { id = Convert.ToInt32(Session["UserID"].ToString()) }, new { @class = "dropdown-item" })
                                </li>
                            </ul>
                        </div>
                    }
            </div>
        </div>
    </Header>

    <div class="container-fluid pt-5">
        <div class="row">
            <main class="col-md-9  ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- Modal -->
    @Html.Partial("_modal")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

