@model CasusStartToBike.Models.Badge

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijderen</h2>

<h3>Weet je het zeker dat je de badge wil verwijderen?</h3>
<div>
    <h4>Badge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgeImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Terug naar de lijst", "Index", new { @class = "btn btn-light" })
        </div>
    }
</div>
