@model IEnumerable<CasusStartToBike.Models.Badge>

@{
    ViewBag.Title = "Badges";
}

<h2>Badges</h2>

<p>
    @if (Session["UserRole"].ToString() == "Admin") {
        @Html.ActionLink("Nieuwe Aanmaken", "Create", null, new { @class = "btn btn-success" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BadgeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgeImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeImage)
        </td>
        <td>
            @if (Session["UserRole"].ToString() == "Admin")
            {
                @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            }
            @Html.ActionLink("Delen", "Details", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
        </td>
    </tr>
}

</table>
